html,
body {
  overflow: hidden;
  height: 100%;
  text-align: center;
  font-family: 'Architects Daughter', sans-serif;
}

body {
  padding: 70px 0;
}

a,
a:active,
a:visited,
a:focus,
a:hover {
  text-decoration: none;
}

.lottery {
  color: #0077C8;
}

.center {
  display: flex;
  align-items: center;
  width: 100%;
  height: 200px;
}

h1 {
  margin: 0 auto;
}

h1#word {
  font-size: 40pt;
}

span.letter {
  margin: 0 10px;
}

.letter {
  display: inline-block;
  width: 25px;
}

.winner-tickets {
  height: 100px;
}

.winner-tickets ul {
  padding: 0;
  list-style: none;
}

.winner-ticket {
  opacity: 0;
}

.winner-tickets li {
  display: inline-block;
  font-size: 60pt;
}

/* Form */
textarea.form-control {
  display: inline-block;
  overflow: auto;
  margin: 70px 0;
  max-width: 650px;
  height: 200px;
  resize: none;
}

form .btn {
  transition: all 0.8s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.btn-info {
  border-color: #1373B4;
  background-color: #0077C8;
}

.btn-info:hover {
  background-color: #4093CB;
}

/* Footer */
#footer {
  margin-top: 70px;
}

#footer img {
  width: 250px;
}

img.wbg-logo {
  margin-top: 20px;
  opacity: 0.8;
  filter: invert(1);
}
